.test-wrapper .left .component{
    height: 99px;
    border-bottom: 1px solid #E2E2E2;
    color: #1B425E;
    background-color: rgba(230, 230, 230, .3);
    padding: 20px 10px 0;
}
.test-wrapper .left .component .left-title{
    font-size: 1.4em;
    font-family: open_sanssemibold;
    text-align: center;
}
.test-wrapper .left .component .version{
    display: block;
    font-size: 9.8px;
    font-weight: 400;
    text-align: center;
    margin: 5px 10px;
}
.test-wrapper .right .library-filters>div {
    vertical-align:top;
}
.test-wrapper .main-content .left .left-content .baseTabs-wrapper {
    bottom: 0;
    position: absolute;
    top: 90px;
    height: auto;
}
.test-wrapper .main-content .right .right-content .library-tile-container{
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
    padding: 0px 3.5%;
    margin-top: 0px;
    transition: top 0.4s;
}
.test-wrapper .main-content .right .right-content .tiles-paginator{
    display:none;
}
.test-wrapper .main-content .right .right-content .editor-tabs,
.test-wrapper .main-content .right .right-content .info-tabs{
    top: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.test-wrapper .main-content .right .right-content .wrapper-roadmap{
    text-align: center;
    background: white;
    margin: 10px 36px;
}
.test-wrapper .main-content .right .right-content .instalation-list{
    top:165px;
}
.test-wrapper .main-content .right .right-content .editor-wrapper .formBuilder-wrapper table{
    padding-left:0;
}
.base-draggable-list{
    width: 25%;
    height: 100%;
    display: inline-block;
    float: left;
}
.base-draggable-list #search-box{
    margin-top:2%;
}
.base-draggable-list #element-list{
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5%;
    position: relative;
}
.base-draggable-element,
.base-tile-element{
    padding: 10px;
    border: 1px solid;
    margin: 0 0 5px;
    position: relative;
    cursor:pointer;
}
.base-draggable-element .base-draggable-element-icon,
.base-tile-element .base-tile-element-icon{
    background-color: rgb(171, 171, 171);
    width: 40px;
    height: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.base-draggable-element .base-draggable-element-icon span,
.base-tile-element .base-tile-element-icon span{
    color:white;
}
.base-draggable-element .base-draggable-element-info,
.base-tile-element .base-tile-element-info{
    max-width: 210px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.base-draggable-element .base-draggable-element-info .base-draggable-element-name,
.base-draggable-element .base-draggable-element-info .base-draggable-element-description,
.base-tile-element .base-tile-element-info .base-tile-element-name,
.base-tile-element .base-tile-element-info .base-tile-element-description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.base-draggable-element .base-draggable-element-info .base-draggable-element-name,
.base-tile-element .base-tile-element-info .base-tile-element-name{
    font-size: .75em;
}
.base-draggable-element .base-draggable-element-info .base-draggable-element-description,
.base-tile-element .base-tile-element-info .base-tile-element-description{
    font-size: .6825em;
    color: #B3B2B3;
}
.base-draggable-list #element-list .draggable-helper{
	position: fixed;
	background-color: #FFF;
	opacity: .7;
	z-index: 1
}
.base-droppable-wrapper{
    width: 73%;
    display: inline-block;
    height: 94%;
    background: url(../../../core/ui/img/stripes.gif), linear-gradient(to bottom, #fff 0, rgba(243, 244, 245, .2) 25%, rgba(243, 244, 245, .3) 100%);
    margin-left:1%;
    position: relative;
}
.base-droppable-wrapper.droppable-active {
	border: 1px dashed #010101;
}
.base-droppable-wrapper .droppable-label {
	line-height: 30px;
	text-align: center;
	font-size: .875em;
	width: 100%;
    display: table;
}
.base-droppable-wrapper .droppable-list {
	position: absolute;
	top: 50px;
	left: 3.5%;
	right: 3.5%;
	bottom: 0;
	overflow-y: auto
}
.base-tile-element{
    display: table;
    width: 96%;
    cursor: auto;
    background: white;
}
.base-tile-element-actions{
    display: table-cell;
    min-width: 115px;
    width: 115px;
    height: 40px;
    vertical-align: middle;
}
.base-tile-element-actions .tile-action-button{
    float: right;
    margin-left: 4px;
}
.search-hidden{
    display:none !important;
}
.test-wrapper .main-content .right .right-content table.info-table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}
.test-wrapper .main-content .right .right-content table.info-table tr{
    width: 100%;
}
.test-wrapper .main-content .right .right-content table.info-table tr td{
    margin: 0;
    min-height: 22px;
    padding: 5px;
    border-bottom: 1px solid #E2E2E2;
    line-height: 30px;
    font-family: open_sansregular;
    font-size: .8125em;
}
.test-wrapper .main-content .right .right-content table.info-table tr td label.label{
    display: block;
    float: left;
    color: #4D4D4D;
    font-family: open_sansregular;
    font-size: 13px;
    width: 30%;
    margin-right: 10px;
    font-weight: 700;
}
.test-wrapper .main-content .right .right-content table.info-table tr td span{
    display: block;
    float: left;
    color: #4D4D4D;
    font-family: open_sansregular;
    font-size: 13px;
}
.test-wrapper .main-content .right .right-content .info-list{
    margin-top:2%;
    height:95%;
}
.test-wrapper .main-content .right .right-content .system-configuration-form{
    top: 75px;
    left: 40px;
    right: 40px;
    position: absolute;
    background: white;
    bottom: 25px;
    overflow: auto;
}

.formBuilder-wrapper .section-container .section-title {
    font-size: 1em;
    margin-bottom: 30px;
    font-weight: bold;
}

/*.formBuilder-wrapper {*/
/*    background-color: white;*/
/*    padding: 2%;*/
/*    width: 95%;*/
/*    margin-top: 3%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

.test-wrapper .main-content .left .accordion-main-wrapper .element-wrapper{
    box-shadow:none !important;
    width:99% !important;
}
.test-wrapper .main-content .left .accordion-main-wrapper .element-wrapper .item-wrapper .metadata-wrapper{
    cursor: pointer !important;
}
.service-dialog .multiple-field-container .row{
    padding: 5px;
    padding-left: 7px;
}
.service-dialog #form{
    width:99%;
}
.service-dialog #form-2{
    margin-top:0;
}
.service-dialog #form-2 #add-button {
    margin-bottom:10px;
    margin-left: 10px;
}
.service-dialog #form-2 .delete-button {
    margin-left: 10px;
    top: -10px;
    display: inline-block;
    position: relative;
}
.service-dialog #form-2 .inline-field{
    width: 100%;
    display: inline-table;
}

.service-dialog #form-2 .inline-field-adapter{
    width: 60%;
    display: inline-table;
}
.service-dialog #form-2 .inline-field-small{
    width: 7%;
    display: inline-block;
}
.section-container{
    margin-top: 7px;
}

/*      Progress Bar    */
.dialog-indicator .dialog-content{
    height:248px !important;
}

.dialog-indicator .description-execution,.dialog-indicator .description-percentage {
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.dialog-indicator .progress-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    width: 300px;
}
.filter-visible {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.progress-dialog.no-buttons.medium{
    height: auto;
}
.standard-form{
    background-color: white;
    margin-top: 20px;
    border-top: 1px solid #e6e6e6;
    height: 100%;
    overflow: overlay;
}
table.edit {
	width: 94%;
	float: left;
	border-collapse: collapse;
	margin: 25px 35px 10px
}
table.edit .subtitle {
	font-size: 15px
}
table.edit tr td {
	margin: 0;
	min-height: 22px;
	padding: 5px;
	border-bottom: 1px solid #E2E2E2
}
table.edit label,
table.edit span {
	display: block;
	float: left;
	color: #4D4D4D;
	font-family: open_sansregular;
	font-size: 13px
}
table.edit label {
	font-weight: 700;
	width: 250px
}
.adjust-checkbox {
    margin-top: 15px;
}
.title-info-general{
    margin-left: 35px;
}
