<template data-controller-name='app.controllers.library.LeftContent'>	
    <div>
        <div class="component">
      		<div class="left-title">TEST</div>
        </div>
        <div id="tabs-container" class="tabs-container"></div>
    </div>
</template>