<template data-controller-name="app.controllers.library.Library">
  <div class='main-wrapper base-layout'>
    <div class='main-content'>
      <div class='main-inner'>
        <div class='left' >
          <div class='left-content' id="left-content"></div>
        </div>
        <div class='right' >
          <div class='right-content' id="right-content"></div>
          <div class='overlap-right'></div>
          <div class='right-panel'></div>
        </div>
      </div>
    </div>
  </div>
</template>