<template data-controller-name='app.controllers.library.rightContent'>
	<div class="library-right-content">
        <div id="toolbar" class="toolbar"></div>
		<div id='library-filters' class='library-filters'>
			<div class='search-input' id='search-input'></div>
			<button id="advanced-filters-btn" class="btn trans filter-item" style="vertical-align: top; margin-right: 13px;">
				<span class="button-icon icon-font-Sign-and-Symbols icon-collapsedown"></span>
				<span>Filtros Avançados</span>
			</button>
			<div class="filter-item filter-button">
				<button id='reset-filters-btn' class='btn trans'>
					<span class='button-icon icon-font-Time-and-Date icon-reviewback'></span>
					<span>Limpar Filtros</span>
				</button>
			</div>
		</div>
		<div class="library-advanced-filters-container">
            <div class='library-advanced-filter-item' id='group'></div>
            <div class='library-advanced-filter-item' id='created-by'></div>
            <div class='library-advanced-filter-item' id='creation-date'></div>
            <div class='library-advanced-filter-item' id='modified-by'></div>
            <div class='library-advanced-filter-item' id='modification-date'></div>
            <div class='library-advanced-filter-item' id='status'></div>
        </div>
		<div id="table" class="table"></div>
    	<div class="tiles-paginator table-pagination"></div>
    </div>
</template>